@font-face {
  font-family: Aeonik Trial;
  src: url("assets/font/aeoniktrial-bold.otf") format("opentype");
}

@font-face {
  font-family: Aeonik Trial light;
  src: url("assets/font/aeoniktrial-light.otf") format("opentype");
}

@font-face {
  font-family: Aeonik Trial regular;
  src: url("assets/font/aeoniktrial-regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #141414;
  font-family: "Aeonik Trial";
}

.loader {
  width: 100vw;
  height: 100vh;
} 

 .loader-clip {
  position: absolute;
  width: 100vw;
  height: 33.3vh;
  overflow: clip;
  z-index: 10000;
}
.h2-statement{
  font-family: "Aeonik Trial regular";
}
.clip-top {
  clip-path: inset(0 0 0 0);
}

.clip-bottom {
  clip-path: inset(0 0 0 0);
}

.clip-center {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 50.3vh;
  top: 24.3vh;
}

.marquee {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  color: #fff;
  mix-blend-mode: difference;
  font-size: clamp(2rem, -2.6429rem + 14.8571vw, 15rem);
}
.logo-text{
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1000;
  top: 50.85%;
  left: 48.5%;
  opacity: 0;
  font-size: clamp(2rem, -2.6429rem + 14.8571vw, 15rem);
}


.marquee-container {
  width: 100%;
  padding-top: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
}

.container .nav,
.container .footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2em 4em;
}

.nav-items a {
  text-decoration: none;
  color: #000;
}

.nav-items a:not(:last-child) {
  padding-right: 4em;
} 


/* landing page */
.landing-page{
  top:5rem;
  padding-top: 15rem;
  background: #141414;
}

.small-logo{
  opacity:0;
}
.row {
  display: flex;
  justify-content: space-between;
}

.hr {
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.reveal {
  width: 1100px;
  height: 205px;
  position: relative;
  overflow: hidden;
 
}


.reveal div {
  position: absolute;
  line-height: 0.9em;
}

.h1 {
  font-size: 13.5em;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fff;
  text-transform: uppercase;
}

.h1 span {
  font-style: italic;
}



.p {
  padding: 0.8em 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item {
  width: 240px;
  margin: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 2rem;
}

.nav-item > div {
  font-family: "Aeonik Trial light";
  font-size: 22px;
}

.projects > div {
  color: #fff;
}



.id {
  margin-right: 0.8em;
}


.img-container .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;

}

.img-blocks {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.block {
  width: 50px;
  height: 50px;
  opacity: 0;
  mix-blend-mode: difference;
  background: #83DDB6;
  transition: opacity 0.2s ease-in;
}

.block.active {
  opacity: 0.90;
}


/* 
letter shapes 

.block::after {
  content: url(assets/images/+.svg);
  width: 50px;
  height: 50px;
  opacity: 1;
  mix-blend-mode: hard-light;
  transition: opacity 0.2s ease-in;
}

.block {
  opacity: 0;
  mix-blend-mode: hard-light;
  transition: opacity 0.2s ease-in;
} */

.block.active {
  opacity: 0.90;
}
