body {
  padding: 0;
  margin:0;
  background-color:rgb(218, 218, 218);
}

.js-ribbon-logo {
  padding: 50px;
  border: 1px solid black;
}

.controls {
  width: 100%;
  padding: 10px;
}

.ribbon-controls {
  width: 100%;
  padding: 10px;
}

svg{
  border: 1px solid red;
}


.console-ribbon{
  background-color: red;
  border: 1px solid red;
}