body {
  padding: 0;
  margin:0;
  background-color:rgb(218, 218, 218);
}

.js-ribbon-logo {
  width: 100vw;
  height: 90vh;
  padding: 50px;
}

.controls {
  width: 100%;
  padding: 10px;
}

.ribbon-controls {
  width: 100%;
  padding: 10px;
}